body {
  background: #282727;
}
.App {
  margin: 1em;
  font-family: "Avenir", "Arial", sans-serif;
}

.app-container{
  padding: 1em;
  align-items: center;
  /* border: 0.25em solid #11e2d4; */
  /* margin-bottom: 1em; */
  margin-left: 10em;
  margin-right: 10em;
}

.header-container {
  padding: 1em;
  display: flex;
  flex: 1;
  align-items: center;
  border: 0.15em solid #11e2d4;
  margin-bottom: 1em;
}

.list-container {
  margin-top: 5px;
  display: flex;
  flex: 1;
  align-items: center;
  border: 0.15em solid #11e2d4;
}

.list-item-image-container > img {
  height: 8em;
}
